.toast .progress {
    height: 0.25rem;
}

.message-enter {
    opacity: 0;
}
.message-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}
.message-exit {
    opacity: 1;
}
.message-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
